*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .5s ease-in-out;
}

.App {
  text-align: center;
  font-family: Verdana;
  display: flex;
  flex-direction:column;
  min-height: 100vh;
  margin: auto;
  background: #F5F5F5;
}

.content{
  flex: 1 0 auto;
}

.App-header {
  width: 100%;
  background: #14657E;
  padding: 20px 0;
  margin-bottom: 30px;
  position: relative;
}

div.body{
  margin:auto;
  width:60%;
  color: #5F6368;
}

div.body h1 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  word-spacing: 1rem;
}
div.body p {
  margin-bottom: 5px;
}

footer{
  width: 100%;
  background: #14657E;
  color: #ffffff;
  font-size: large;
  font-weight:normal; 
  flex: 0 0 auto;
}

footer p{
  display: inline-block;
  padding: 20px;
}

.nav-list { 
  margin:0 auto;
    display:table; 
} 
 
.nav-list li a { 
    text-decoration: none; 
    font-size: large;
    font-weight:normal;    
    color: #ffffff; 
} 

.nav-list li:last-child {
  margin-right: 0;
}
 
.nav-list li a:hover { 
    color: rgb(194, 191, 191); 
} 

.wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 15rem));
  gap: 5rem;
  justify-content: center;
}

.card {
  background: #14657E;
  color: #ffffff; 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 20px #e1e5ee;
  border-radius: 1rem;
}

.card_title{
  padding: 5px 20px 10px 20px;
  margin-top: auto;
}

.card_price{
  margin-top: auto;
  padding-bottom: 10px;
}

.card_image{
  height: 15rem;
    width: 100%;
    object-fit: cover;
} 

@media (min-width: 320px) and (max-width: 700px) {
  .nav-list li {
      display: inline-block;
      margin-right: 30px;
  }
  .nav-list li a { 
    font-size: medium;
  } 
  .App-header {
    margin-bottom: 20px;
  }
  div.body h1 {
    font-size:medium;
    margin-bottom: 10px;
  }
  p {
    font-size:x-small;
   }
   div.body {
    font-size:x-small;
    width:80%;
   }
   .wrapper {
    margin-top: 20px;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 6rem));
  }
  .card_image{
    height: 6rem;
  } 
  .card_title{
    padding: 5px 20px 10px 20px;
  }
  .card_price{
    padding-bottom: 10px;
  }
}

@media (min-width: 700px) and (max-width: 1024px) { 
  .nav-list li {
      display: inline-block;
      margin-right: 60px;
   }
   div.body h1 {
    font-size:x-large;
   }
   div.body {
    font-size:smaller;
    width:80%;
   }
   .wrapper {
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 12rem));
  }
  .card_image{
    height: 12rem;
  } 
}

@media (min-width: 1024px) { 
  .nav-list li {
      display: inline-block;
      margin-right: 200px;
   }
   .card_title{
    padding: 20px 20px 10px 20px;
    margin-top: auto;
  }
  .card_price{
    margin-top: auto;
    padding-bottom: 20px;
  }
}