*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .5s ease-in-out;
}

.App {
  text-align: center;
  font-family: Verdana;
  display: flex;
  flex-direction:column;
  min-height: 100vh;
  margin: auto;
  background: #F5F5F5;
}

.content,.about{
  flex: 1 0 auto;
  color: #434549;
}

.App-header {
  width: 100%;
  background: #14657E;
  padding: 20px 0;
  margin-bottom: 30px;
  position: relative;
}

div.body{
  margin:auto;
  width:60%;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  word-spacing: 1rem;
}

div.body p {
  margin-bottom: 5px;
}

.about{
  margin: auto;
  width: 70%;
}

.about p{
  text-align: justify;
  margin-bottom: 5px;
}

.about ul li{
  text-align: left;
  padding-left: 2rem;
  list-style-type:none;
  margin: 10px 0;
}

.contacts{
  margin: auto;
  width: 35%;
  display:flex;
  justify-content: space-between
}

.moreBtn{
  font-family: Verdana;
  margin-top: 50px;
  padding: 15px 30px 15px 30px;
  border-radius:0.7rem;
  border-style: none;
  color: #5F6368;
  font-size: large;
  letter-spacing: 0.25px;
  background: #D9D9D9;
}

footer{
  width: 100%;
  background: #14657E;
  color: #ffffff;
  font-size: large;
  font-weight:normal; 
  flex: 0 0 auto;
}

footer p{
  display: inline-block;
  padding: 20px;
}

footer a{
  display: inline-block;
  padding: 20px;
}

a[href^="tel"], a[href^="mailto"] {
  color: inherit;
  text-decoration: none;
}

.nav-list { 
  margin:0 auto;
    display:table; 
} 
 
.nav-list li a { 
    text-decoration: none; 
    font-size: large;
    font-weight:normal;    
    color: #ffffff; 
} 

.nav-list li:last-child {
  margin-right: 0;
}
 
.nav-list li a:hover { 
    color: rgb(194, 191, 191); 
} 

.wrapper {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 14rem));
  gap: 4rem;
  justify-content: center;
  margin-bottom: 50px;
}

.card {
  background: #14657E;
  color: #ffffff; 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 20px #e1e5ee;
  border-radius: 1rem;
}

.card_title{
  padding: 5px 20px 10px 20px;
  margin-top: auto;
}

.card_price{
  margin-top: auto;
  padding-bottom: 10px;
}

.card_image{
  height: 14rem;
  width: 100%;
  object-fit: cover;
} 

table {
  background-color: white;
  margin: auto;
  margin-top: 40px;
  text-align: left;
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid rgb(216, 216, 216);
  height: 33px;
}

th {
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(216, 216, 216);
  height: 33px;
}

tr td:first-child {
  text-align: center;
}

tr td:last-child {
  text-align: center;
}

@media (min-width: 320px) and (max-width: 568px) {
  .nav-list li {
      display: inline-block;
      margin-right: 30px;
  }
  .nav-list li a { 
    font-size: medium;
  } 
  .App-header {
    margin-bottom: 20px;
  }
  h1 {
    font-size:medium;
    margin-bottom: 10px;
  }
  p, a[href^="tel"], a[href^="mailto"] {
    font-size:x-small;
   }
   div.body, .about {
    font-size:x-small;
    width:80%;
   }

    .contacts {
      width: 70%;
    }

   .wrapper {
    margin-top: 20px;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 6rem));
  }
  .card_image{
    height: 6rem;
  } 
  .card_title{
    padding: 5px 20px 10px 20px;
  }
  .card_price{
    padding-bottom: 10px;
  }
  .moreBtn{
    margin-top: 0px;
    padding: 10px 20px 10px 20px;
    font-size: x-small;
  }
}

@media (min-width: 568px) and (max-width: 1024px) {
  .nav-list li {
    display: inline-block;
    margin-right: 60px;
  }

  footer{
  font-size: medium;
  }

  h1 {
    font-size: x-large;
  }

  div.body, .about {
    font-size: normal;
    width: 80%;
  }

  .contacts{
    width: 60%;
  }

  .wrapper {
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 8rem));
  }

  .card_image {
    height: 8rem;
  }
}


@media (min-width: 1024px) { 
  .nav-list li {
      display: inline-block;
      margin-right: 200px;
   }
   .card_title{
    padding: 20px 20px 10px 20px;
    margin-top: auto;
  }
  .card_price{
    margin-top: auto;
    padding-bottom: 20px;
  }
}